# PostgreSQL Connection
DB_HOST=localhost
DB_PORT=5432
DB_NAME=restaurant_test
DB_USER=postgres
DB_PASSWORD=1422005

# Hoặc dùng connection string (Heroku/Railway/Render)
# DATABASE_URL=postgresql://user:password@host:5432/dbname

# SSL (bật khi deploy lên cloud)
# DB_SSL=true

PORT=3000
