# Bỏ qua thư mục thư viện
node_modules/

# Bỏ qua file chứa mật khẩu/cấu hình cá nhân
.env

# Bỏ qua các file log và file rác của hệ thống
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
